.login{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.options-select{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}