

.switch {
  position: relative;
  display: inline-block;
  width: 4em; 
  height: 2em; 
}



.switch input{
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1em; 
}

.slider .btnTheme {
  position: absolute;
  height: 1.5em; 
  width: 1.5em; 
  bottom: 0.25em; 
  border-radius: 50%;
  transition: .4s;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0.25em; 
}

.slider.round .btnTheme {
  border-radius: 50%;
}
.slider .stars{
  display: none;
  }

.slider .clouds
 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-evenly; 
  width: calc(100% - 2em); 
}


.slider .stars {
  right: calc(100% - 1.75em);
}

.slider .stars i:nth-child(1){
  font-size: 0.4em;
  margin-top: 0.8em;
}

.slider .stars i:nth-child(2)  {
  font-size: 0.3em; 
  margin-top: 0.2em;
 
}

.slider .clouds i{
  font-size: 1.2em;
}





/* If the input is not checked, the background color is #fdd538 */
.slider .btnTheme {
  background-color: #f1ad47;
  z-index: 10;
  
}

.slider {
  background-color: #a7d7ff;
}


.slider .btnTheme::after {
  content: '';
  position: absolute;
  height: 120%;
  width: 120%;
  background-color:  #fbff0062;
  border-radius: 50%;
  top: -0.15em;
  left: -0.15em;
  transition: .4s;
  z-index: -1;
  
}

.slider .btnTheme::before {
  content: '';
  position: absolute;
  height: 130%;
  width: 130%;
  background-color:  #fbff002a;
  border-radius: 50%;
  top: -0.2em;
  left: -0.2em;
  transition: .4s;
  z-index: -1;
}


.slider .clouds {
  left: calc(100% - 1.75em);
}







/* If the input is checked, the background color is #04233c */

input:checked + .slider .btnTheme {
  background-color: #d6d6d6;
  left: calc(100% - 1.75em);
}

input:checked + .slider {

  background-color: #04233c;
}

input:checked + .slider .stars  {
  position: absolute;
  display: flex;
  justify-content: space-evenly; 
  width: calc(100% - 2em); 
  transform: translateY(-50%);
  top: 50%;
}


input:checked + .slider .btnTheme::after {
  content: '';
  position: absolute;
  height: 0.5em;
  width: 0.5em;
  background-color:  #827f6f;
  border-radius: 50%;
  top: 0.7em;
  left: 0.2em;
  transition: .4s;
  z-index: 1;
}

input:checked + .slider .btnTheme::before {
  content: '';
  position: absolute;
  height: 0.2em;
  width: 0.2em;
  background-color:  #827f6f;
  border-radius: 50%;
  top: 0.5em;
  left: 1em;
  transition: .4s;
  z-index: 1;
}



.stars i {
  margin: 0;
  margin-left: 2em;
  padding: 0.2em; 
  color: #fffb00;
  font-size: 0; 
  transition: font-size .8s; 
}


.clouds i {
  margin: 0;
  margin-right: 0.6em;
  padding: 0.2em; 
  color: #ffffff;
  font-size: 0; 
  transition: font-size .8s; 
}
