.search-bar{
    background-color: var(--primary-color-fixed);
    color: var(--primary-color-text-fixed);
    padding: 10px 0;
}

.containerSearch{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    background: white;
    border-radius: 20px;
}

.containerSearch .searchInput{
    width: 100%;
    padding: 10px;
    border: none;
}

.containerSearch .searchInput:focus{
    outline: none;
}



.containerSearch i{
    font-size: 20px;
    color: rgb(51, 51, 51);
    padding: 10px;
    background:transparent;
    border-radius: 5px;
}
.containerSearch i:hover{
   transition: 0.3s;
   color: rgba(51, 51, 51, 0.5);
   cursor: pointer;
}
.containerSearch i:active{
    transform: scale(0.9);
}
