@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    
    --primary-color-fixed: #ffef0a;
    --primary-color-text-fixed: #333;
    --secondary-color-text-fixed: #6b6b6b;
    --primary-color-text-hover-fixed: #4d4c4b;
    
    --body-background: #f5f5f5;
    --primary-color: #333;
    
    
    
}

[data-theme='dark']{
    --body-background: rgb(52,52,52);
    --primary-color: #f5f5f5;
    --primary-color-text-contrast: #ffef0a;

}

[data-theme='light']{
    --body-background: #f5f5f5;
    --primary-color: #333;
    --primary-color-text-contrast: #000000;
}

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--body-background);
    color: var(--primary-color);
    transition: background-color 0.6s ease, color 0.6s ease;
}
